<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.gateway.gb32960.dao.AlarmDataMapper">
<resultMap id="BaseResultMap" type="com.eshop.gateway.gb32960.pojo.AlarmData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="terminal_phone" jdbcType="VARCHAR" property="terminalPhone" />
    <result column="vin" jdbcType="INTEGER" property="vin" />
    <result column="sample_time" jdbcType="TIMESTAMP" property="sampleTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="level" jdbcType="SMALLINT" property="level" />
    <result column="alarm_info" jdbcType="BIGINT" property="alarmInfo" />
    <result column="device_failure_count" jdbcType="SMALLINT" property="deviceFailureCount" />
    <result column="device_failure_codes" jdbcType="VARCHAR" property="deviceFailureCodes" />
    <result column="drive_motor_failure_count" jdbcType="SMALLINT" property="driveMotorFailureCount" />
    <result column="drive_motor_failure_codes" jdbcType="VARCHAR" property="driveMotorFailureCodes" />
    <result column="engine_failure_count" jdbcType="SMALLINT" property="engineFailureCount" />
    <result column="engine_failure_codes" jdbcType="VARCHAR" property="engineFailureCodes" />
    <result column="other_failure_count" jdbcType="SMALLINT" property="otherFailureCount" />
    <result column="other_failure_codes" jdbcType="VARCHAR" property="otherFailureCodes" />   
  </resultMap>
  <sql id="Base_Column_List">
    id, vehicle_id, terminal_phone, vin, sample_time, create_time,level,alarm_info,device_failure_count,device_failure_codes,drive_motor_failure_count,drive_motor_failure_codes,
    engine_failure_count,engine_failure_codes,other_failure_count,other_failure_codes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ter_alarm_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ter_alarm_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eshop.gateway.gb32960.pojo.AlarmData">
    insert into ter_alarm_data (id, vehicle_id, terminal_phone, vin, sample_time, create_time,
    level,alarm_info,device_failure_count,device_failure_codes,drive_motor_failure_count,drive_motor_failure_codes,
    engine_failure_count,engine_failure_codes,other_failure_count,other_failure_codes
      )
    values (#{id,jdbcType=BIGINT}, #{vehicleId,jdbcType=BIGINT}, #{terminalPhone,jdbcType=VARCHAR}, 
      #{vin,jdbcType=VARCHAR}, #{sampleTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP },
      #{level,jdbcType=SMALLINT},#{alarmInfo,jdbcType=BIGINT},#{deviceFailureCount,jdbcType=SMALLINT},#{deviceFailureCodes,jdbcType=VARCHAR},
      #{driveMotorFailureCount,jdbcType=SMALLINT},#{driveMotorFailureCodes,jdbcType=VARCHAR},#{engineFailureCount,jdbcType=SMALLINT},#{engineFailureCodes,jdbcType=VARCHAR},
      #{otherFailureCount,jdbcType=SMALLINT},#{otherFailureCodes,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop.gateway.gb32960.pojo.AlarmData">
    insert into ter_alarm_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vehicleId != null">
        vehicle_id,
      </if>
      <if test="terminalPhone != null">
        terminal_phone,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="sampleTime != null">
        sample_time,
      </if>
      <if test="createTime != null">
       create_time,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="alarmInfo != null">
        alarm_info,
      </if>
      <if test="deviceFailureCount != null">
        device_failure_count,
      </if>
      <if test="deviceFailureCodes != null">
        device_failure_codes,
      </if>
      <if test="driveMotorFailureCount != null">
        drive_motor_failure_count,
      </if>
      <if test="driveMotorFailureCodes != null">
        drive_motor_failure_codes,
      </if>
      <if test="engineFailureCount != null">
        engine_failure_count,
      </if>
      <if test="engineFailureCodes != null">
        engine_failure_codes,
      </if>
      <if test="otherFailureCount != null">
        other_failure_count,
      </if>
      <if test="otherFailureCodes != null">
        other_failure_codes
      </if>     
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="terminalPhone != null">
        #{terminalPhone,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="sampleTime != null">
        #{sampleTime,jdbcType=TIMESTAMP },
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP },
      </if>
      <if test="level != null">
        #{level,jdbcType=SMALLINT },
      </if>
      <if test="alarmInfo != null">
        #{alarmInfo,jdbcType=BIGINT },
      </if>
      <if test="deviceFailureCount != null">
        #{deviceFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="deviceFailureCodes != null">
        #{deviceFailureCodes,jdbcType=VARCHAR },
      </if>
      <if test="driveMotorFailureCount != null">
        #{driveMotorFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="driveMotorFailureCodes != null">
        #{driveMotorFailureCodes,jdbcType=VARCHAR },
      </if>
      <if test="engineFailureCount != null">
        #{engineFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="engineFailureCodes != null">
        #{engineFailureCodes,jdbcType=VARCHAR },
      </if>
      <if test="otherFailureCount != null">
        #{otherFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="otherFailureCodes != null">
        #{otherFailureCodes,jdbcType=VARCHAR }
      </if>   
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop.gateway.gb32960.pojo.AlarmData">
    update ter_alarm_data
    <set>
      <if test="vehicleId != null">
       vehicle_id = #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="terminalPhone != null">
       terminal_phone = #{terminalPhone,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="sampleTime != null">
        sample_time = #{sampleTime,jdbcType=TIMESTAMP },
      </if>
      <if test="createTime != null">
       create_time = #{createTime,jdbcType=TIMESTAMP },
      </if>
      <if test="level != null">
       level = #{level,jdbcType=SMALLINT },
      </if>
      <if test="alarmInfo != null">
       alarm_info = #{alarmInfo,jdbcType=BIGINT },
      </if>
      <if test="deviceFailureCount != null">
       device_failure_count = #{deviceFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="deviceFailureCodes != null">
       device_failure_codes = #{deviceFailureCodes,jdbcType=VARCHAR },
      </if>
      <if test="driveMotorFailureCount != null">
        drive_motor_failure_count = #{driveMotorFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="driveMotorFailureCodes != null">
       drive_motor_failure_codes = #{driveMotorFailureCodes,jdbcType=VARCHAR },
      </if>
      <if test="engineFailureCount != null">
        engine_failure_count = #{engineFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="engineFailureCodes != null">
        iengine_failure_codes = #{engineFailureCodes,jdbcType=VARCHAR },
      </if>
      <if test="otherFailureCount != null">
        other_failure_count = #{otherFailureCount,jdbcType=SMALLINT },
      </if>
      <if test="otherFailureCodes != null">
        other_failure_codes = #{otherFailureCodes,jdbcType=VARCHAR }
      </if>   
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.eshop.gateway.gb32960.pojo.AlarmData">
    update ter_alarm_data
    set  vehicle_id = #{vehicleId,jdbcType=BIGINT},
      	 terminal_phone = #{terminalPhone,jdbcType=VARCHAR},
         vin = #{vin,jdbcType=VARCHAR},
         sample_time = #{sampleTime,jdbcType=TIMESTAMP },
         create_time = #{createTime,jdbcType=TIMESTAMP },
       	level = #{level,jdbcType=SMALLINT },
       	alarm_info = #{alarmInfo,jdbcType=BIGINT },
       	device_failure_count = #{deviceFailureCount,jdbcType=SMALLINT },
       	device_failure_codes = #{deviceFailureCodes,jdbcType=VARCHAR },
        drive_motor_failure_count = #{driveMotorFailureCount,jdbcType=SMALLINT },
       	drive_motor_failure_codes = #{driveMotorFailureCodes,jdbcType=VARCHAR },
        engine_failure_count = #{engineFailureCount,jdbcType=SMALLINT },
        iengine_failure_codes = #{engineFailureCodes,jdbcType=VARCHAR },
        other_failure_count = #{otherFailureCount,jdbcType=SMALLINT },
        other_failure_codes = #{otherFailureCodes,jdbcType=VARCHAR }
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ter_alarm_data
  </select>
  
  <select id="findByVehicleId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ter_alarm_data
    where vehicle_id = #{vehicleId,jdbcType=BIGINT}
  </select>
</mapper>