<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.dao.CompanyMapper">
   <resultMap id="BaseResultMap" type="com.eshop.pojo.Company">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address, telephone, website,industry,remarks,parent_id, order_num, create_by, create_time, last_update_by, 
    last_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from company
    where parent_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eshop.pojo.Company">
    insert into company (id, name, address, telephone, website,industry,remarks,parent_id, order_num, create_by, create_time, last_update_by, 
    last_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
      #{telephone,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{remarks,jdbcType=LONGVARCHAR},     
       #{parentId,jdbcType=BIGINT}, #{orderNum,jdbcType=INTEGER},#{createBy,jdbcType=VARCHAR}, 
       #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop.pojo.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop.pojo.Company">
    update company
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{type,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR },
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <update id="updateByPrimaryKey" parameterType="com.eshop.pojo.Company">
    update company
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=LONGVARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      order_num = #{orderNum,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
  </select>
  
  <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from company c
    <where>
    	<if test="name !=null and name !=''">
  			 c.name LIKE CONCAT(CONCAT('%',#{name}),'%')
  		</if>
    </where>
  </select>
  
  <select id="findPageByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
 	select 
    <include refid="Base_Column_List" />
    from company c
    <where>
  		<if test="name !=null and name !=''">
  			 c.name LIKE CONCAT(CONCAT('%',#{name}),'%')
  		</if>
    	<if test="address != null and address !=''">
       		 and c.address LIKE CONCAT(CONCAT('%',#{address}),'%')
    	</if>
    	<if test="telephone != null and telephone !=''">
       		 and c.telephone LIKE CONCAT(CONCAT('%',#{telephone}),'%')
    	</if>
    	<if test="website != null and website !=''">
       		 and c.website LIKE CONCAT(CONCAT('%',#{website}),'%')
    	</if>
    	<if test="industry != null and industry !=''">
       		 and c.industry LIKE CONCAT(CONCAT('%',#{industry}),'%')
    	</if>
    	<if test="createBy != null and createBy !=''">
        	and d.create_by LIKE CONCAT(CONCAT('%',#{createBy}),'%')
    	</if>
    	<if test="endTime !=null and endTime!=''">
    		and d.create_time <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="startTime!=null and startTime!=''">
    	    and d.create_time >= #{startTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="lastUpdateBy != null and lastUpdateBy !=''">
        	and d.last_update_by LIKE CONCAT(CONCAT('%',#{lastUpdateBy}),'%')
    	</if>
    </where>
  </select>

</mapper>
