<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.gateway.gb32960.dao.DriveMotorDataMapper">
<resultMap id="BaseResultMap" type="com.eshop.gateway.gb32960.pojo.DriveMotorData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="terminal_phone" jdbcType="VARCHAR" property="terminalPhone" />
    <result column="vin" jdbcType="INTEGER" property="vin" />
    <result column="sample_time" jdbcType="TIMESTAMP" property="sampleTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="num" jdbcType="SMALLINT" property="num" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="controller_temperature" jdbcType="SMALLINT" property="controllerTemperature" />
    <result column="speed" jdbcType="INTEGER" property="speed" />
    <result column="torque" jdbcType="INTEGER" property="torque" />
    <result column="temperature" jdbcType="SMALLINT" property="temperature" />
    <result column="controller_input_voltage" jdbcType="INTEGER" property="controllerInputVoltage" />
    <result column="controller_bus_current" jdbcType="INTEGER" property="controllerBusCurrent" /> 
  </resultMap>
  <sql id="Base_Column_List">
    id, vehicle_id, terminal_phone, vin, sample_time, create_time,num,status,controller_temperature,
    speed,torque,temperature,controller_input_voltage,controller_bus_current
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ter_drive_motor_data
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ter_drive_motor_data
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eshop.gateway.gb32960.pojo.DriveMotorData">
    insert into ter_drive_motor_data (id, vehicle_id, terminal_phone, vin, sample_time, create_time,num,status,controller_temperature,
    speed,torque,temperature,controller_input_voltage,controller_bus_current
      )
    values (#{id,jdbcType=BIGINT}, #{vehicleId,jdbcType=BIGINT}, #{terminalPhone,jdbcType=VARCHAR}, 
      #{vin,jdbcType=VARCHAR}, #{sampleTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP },
      #{num,jdbcType=SMALLINT},#{status,jdbcType=SMALLINT},#{controllerTemperature,jdbcType=SMALLINT},#{speed,jdbcType=INTEGER},
      #{torque,jdbcType=INTEGER},#{temperature,jdbcType=SMALLINT},#{controllerInputVoltage,jdbcType=INTEGER},#{controllerBusCurrent,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop.gateway.gb32960.pojo.DriveMotorData">
    insert into ter_drive_motor_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vehicleId != null">
        vehicle_id,
      </if>
      <if test="terminalPhone != null">
        terminal_phone,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="sampleTime != null">
        sample_time,
      </if>
      <if test="createTime != null">
       create_time,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="controllerTemperature != null">
        controller_temperature,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="torque != null">
        torque,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="controllerInputVoltage != null">
        controller_input_voltage,
      </if>
      <if test="controllerBusCurrent != null">
        controller_bus_current
      </if>   
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="terminalPhone != null">
        #{terminalPhone,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="sampleTime != null">
        #{sampleTime,jdbcType=TIMESTAMP },
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP },
      </if>
      <if test="num != null">
        #{num,jdbcType=SMALLINT },
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT },
      </if>
      <if test="controllerTemperature != null">
        #{controllerTemperature,jdbcType=SMALLINT },
      </if>
      <if test="speed != null">
        #{speed,jdbcType=INTEGER },
      </if>
      <if test="torque != null">
        #{torque,jdbcType=INTEGER },
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=SMALLINT },
      </if>
      <if test="controllerInputVoltage != null">
        #{controllerInputVoltage,jdbcType=INTEGER },
      </if>
      <if test="controllerBusCurrent != null">
        #{controllerBusCurrent,jdbcType=INTEGER }
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop.gateway.gb32960.pojo.DriveMotorData">
    update ter_drive_motor_data
    <set>
      <if test="vehicleId != null">
       vehicle_id = #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="terminalPhone != null">
       terminal_phone = #{terminalPhone,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="sampleTime != null">
        sample_time = #{sampleTime,jdbcType=TIMESTAMP },
      </if>
      <if test="createTime != null">
       create_time = #{createTime,jdbcType=TIMESTAMP },
      </if>
      <if test="num != null">
        num = #{num,jdbcType=SMALLINT },
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT },
      </if>
      <if test="controllerTemperature != null">
       controller_temperature = #{controllerTemperature,jdbcType=SMALLINT },
      </if>
      <if test="speed != null">
       speed = #{speed,jdbcType=INTEGER },
      </if>
      <if test="torque != null">
       torque = #{torque,jdbcType=INTEGER },
      </if>
      <if test="temperature != null">
       temperature = #{temperature,jdbcType=SMALLINT },
      </if>
      <if test="controllerInputVoltage != null">
       controller_input_voltage = #{controllerInputVoltage,jdbcType=INTEGER },
      </if>
      <if test="controllerBusCurrent != null">
       controller_bus_current = #{controllerBusCurrent,jdbcType=INTEGER }
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.eshop.gateway.gb32960.pojo.DriveMotorData">
    update ter_drive_motor_data
    set  vehicle_id = #{vehicleId,jdbcType=BIGINT},
      	 terminal_phone = #{terminalPhone,jdbcType=VARCHAR},
         vin = #{vin,jdbcType=VARCHAR},
         sample_time = #{sampleTime,jdbcType=TIMESTAMP },
         create_time = #{createTime,jdbcType=TIMESTAMP },
         num = #{num,jdbcType=SMALLINT },
         status = #{status,jdbcType=SMALLINT },
         controller_temperature = #{controllerTemperature,jdbcType=SMALLINT },
         speed = #{speed,jdbcType=INTEGER },
         torque = #{torque,jdbcType=INTEGER },
         temperature = #{temperature,jdbcType=SMALLINT },
         controller_input_voltage = #{controllerInputVoltage,jdbcType=INTEGER },
         controller_bus_current = #{controllerBusCurrent,jdbcType=INTEGER }
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ter_drive_motor_data
  </select>
  
  <select id="findByVehicleId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ter_drive_motor_data
    where vehicle_id = #{vehicleId,jdbcType=BIGINT}
  </select>
</mapper>