<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.dao.VehicleMapper">
  <resultMap id="BaseResultMap" type="com.eshop.pojo.Vehicle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="license" jdbcType="VARCHAR" property="license" />
    <result column="company_num" jdbcType="VARCHAR" property="companyNum" />
    <result column="chassis" jdbcType="VARCHAR" property="chassis" />
    <result column="configure" jdbcType="LONGVARCHAR" property="configure" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="purchase_way" jdbcType="VARCHAR" property="purchaseWay" />
    <result column="user_company_id" jdbcType="BIGINT" property="userCompanyId" />
    <result column="owner_company_id" jdbcType="BIGINT" property="ownerCompanyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, vin, license,company_num,chassis,configure, create_by, create_time, last_update_by, 
    last_update_time,brand,status,purchase_way,user_company_id,owner_company_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vehicle
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vehicle
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eshop.pojo.Vehicle">
    insert into vehicle (id, name, type, vin, license,company_num,chassis,configure, create_by, create_time, last_update_by, 
    last_update_time,brand,status,purchase_way,user_company_id,owner_company_id
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{companyNum,jdbcType=VARCHAR}, 
      #{chassis,jdbcType=VARCHAR},#{configure,jdbcType=LONGVARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP},
       #{brand,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{puerchaseWay,jdbcType=VARCHAR},
       #{userCompanyId,jdbcType=BIGINT},#{ownerCompanyId,jdbcType=BIGINT},
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.eshop.pojo.Vehicle">
    insert into vehicle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="vin != null">
        vin,
      </if>
      <if test="license != null">
        license,
      </if>
      <if test="companyNum != null">
        company_num,
      </if>
      <if test="chassis != null">
        chassis,
      </if>
      <if test="configure != null">
        configure,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="purchaseWay != null">
        purchase_way,
      </if>
      <if test="userCompanyId != null">
        user_company_id,
      </if>
      <if test="ownerCompanyId != null">
        owner_company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="companyNum != null">
        #{companyNum,jdbcType=VARCHAR},
      </if>
      <if test="chassis != null">
        #{chassis,jdbcType=VARCHAR},
      </if>
      <if test="configure != null">
        #{configure,jdbcType=LONGVARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="purchaseWay != null">
        #{purchaseWay,jdbcType=VARCHAR},
      </if>
      <if test="userCompanyId != null">
        #{userCompanyId,jdbcType=BIGINT},
      </if>
      <if test="ownerCompanyId != null">
        #{ownerCompanyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.eshop.pojo.Vehicle">
    update vehicle
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="vin != null">
        vin = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="companyNum != null">
        company_num = #{companyNum,jdbcType=VARCHAR},
      </if>
      <if test="chassis != null">
        chassis = #{chassis,jdbcType=VARCHAR},
      </if>
      <if test="configure != null">
        configure = #{configure,jdbcType=LONGVARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="purchaseWay != null">
        purchase_way = #{purchaseWay,jdbcType=VARCHAR},
      </if>
      <if test="userCompanyId != null">
        user_company_id = #{userCompanyId,jdbcType=BIGINT},
      </if>
       <if test="ownerCompanyId != null">
        owner_company_id = #{ownerCompanyId,jdbcType=BIGINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.eshop.pojo.Vehicle">
    update vehicle
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      company_num = #{companyNum,jdbcType=VARCHAR},
      chassis = #{chassis,jdbcType=VARCHAR},
      configure = #{configure,jdbcType=LONGVARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      brand = #{brand,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      purchase_way = #{purchaseWay,jdbcType=VARCHAR},
      user_company_id = #{userCompanyId,jdbcType=BIGINT},
      owner_company_id = #{ownerCompanyId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vehicle
  </select>
  
  <select id="findPageByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
 	select 
    <include refid="Base_Column_List" />
    from vehicle v
    <where>
  		<if test="name !=null and name !=''">
  			 v.name LIKE CONCAT(CONCAT('%',#{name}),'%')
  		</if>
    	<if test="type != null and type !=''">
       		 and v.type LIKE CONCAT(CONCAT('%',#{type}),'%')
    	</if>
    	<if test="vin != null and vin !=''">
       		 and v.vin LIKE CONCAT(CONCAT('%',#{vin}),'%')
    	</if>
    	<if test="license != null and license !=''">
       		 and v.license LIKE CONCAT(CONCAT('%',#{license}),'%')
    	</if>
    	<if test="chassis != null and chassis !=''">
       		 and v.chassis LIKE CONCAT(CONCAT('%',#{chassis}),'%')
    	</if>
    	<if test="brand != null and brand !=''">
       		 and v.brand LIKE CONCAT(CONCAT('%',#{brand}),'%')
    	</if>
    	<if test="status != null and status !=''">
       		 and v.status LIKE CONCAT(CONCAT('%',#{status}),'%')
    	</if>
    	<if test="purchaseWay != null and purchaseWay !=''">
       		 and v.purchase_way LIKE CONCAT(CONCAT('%',#{purchaseWay}),'%')
    	</if>
    	<if test="userCompanyId != null and userCompanyId !=''">
       		 and v.user_company_id = #{userCompanyId,jdbcType=BIGINT}
    	</if>
    	<if test="ownerCompanyId != null and ownerCompanyId !=''">
       		 and v.owner_company_id = #{ownerCompanyId,jdbcType=BIGINT}
    	</if>
    	<if test="createBy != null and createBy !=''">
        	and v.create_by LIKE CONCAT(CONCAT('%',#{createBy}),'%')
    	</if>
    	<if test="endTime !=null and endTime!=''">
    		and v.create_time <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="startTime!=null and startTime!=''">
    	    and v.create_time >= #{startTime,jdbcType=TIMESTAMP}
    	</if>
    	<if test="lastUpdateBy != null and lastUpdateBy !=''">
        	and v.last_update_by LIKE CONCAT(CONCAT('%',#{lastUpdateBy}),'%')
    	</if>
    </where>
  </select>

</mapper>